[Desktop Entry]
Version=1.0
Name=PIGGIE 
Comment=PIGGIE P2P Cryptocurrency
Comment[fr]=PIGGIE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PIGGIE, eşten eşe kriptografik sanal para birimi
Exec=PIGGIE-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/PIGGIE;
Categories=Office;Finance;
StartupWMClass=PIGGIE-qt
