[Desktop Entry]
Version=1.0
Name=piggie Coin
Comment=piggie P2P Cryptocurrency
Comment[fr]=piggie, monnaie virtuelle cryptographique pair à pair
Comment[tr]=piggie, eşten eşe kriptografik sanal para birimi
Exec=piggie-qt %u
Terminal=false
Type=Application
Icon=piggie128
MimeType=x-scheme-handler/piggie;
Categories=Office;Finance;
StartupWMClass=piggie-qt
