# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=piggie Coin
Comment=piggie Coin QT main network
GenericName=piggie Digital Currency QT client main network
Exec=piggie-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/piggie.png
MimeType=x-scheme-handler/piggie;
Categories=X-Office;X-Finance;
Keywords=internet;piggie;zpiggie;piggie;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
